* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgray;
}

table {
    border-collapse: collapse;
}
th, td {
    padding: 15px;
    background-color: whitesmoke;
}

a {
    background-color: whitesmoke;
}



